.project-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.project-img-container {
  width: 99%;
}

.project-img-styles {
  height: 100%;
  width: 100%;
}

.project-heading-container {
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.project-heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-weight: bold;
  margin: 5px;
}

.project-duration {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
}

.project-description {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 18px;
  margin: 5px;
}

.project-link {
  color: #0967d2;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .project-heading-container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
